<header
  class="bd-header bg-dark mb-5 py-3 d-flex align-items-stretch border-bottom border-dark"
>
  <nav
    class="navbar navbar-expand-lg bg-dark text-uppercase fixed-top"
    id="mainNav"
  >
    <div class="container">
      <a class="nav-link text-light" href="/">Node.js And MySQL</a>
      <button
        class="navbar-toggler text-uppercase font-weight-bold bg-dark text-light rounded"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a
              class="nav-link py-3 px-0 px-lg-3 rounded text-light"
              href="/admin/membersinfo"
              >Info</a
            >
          </li>
          <% if(locals.isLogin) { %>
          <li class="nav-item mx-0 mx-lg-1">
            <a
              class="nav-link py-3 px-0 px-lg-3 rounded text-light"
              href="/member/logout"
              >logout</a
            >
          </li>
          <% } else { %>
          <li class="nav-item mx-0 mx-lg-1">
            <a
              class="nav-link py-3 px-0 px-lg-3 rounded text-light"
              href="/login"
              >login</a
            >
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a
              class="nav-link py-3 px-0 px-lg-3 rounded text-light"
              href="/register"
              >Register</a
            >
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
</header>
